.about .component_row{
    padding-bottom: 4em;
}
.about .component_row .self{
    margin: auto auto;
}
.about .component_row .self img{
    width: 85%;
    border-radius: 50%;
    border-color: var(--blue-color);
    border: 20px solid var(--blue-color);
}